.summary-box {
  padding-right: 2rlh;
  border-right: 1px dashed #000;
}

.summary-box > h3 {
  margin: 2rlh 0 1rlh 0;
  font-size: 16px;
  line-height: 1rlh;
  font-weight: bold;
}

.summary-box > table.stats {
  display: block;
  border-collapse: collapse;
  margin-bottom: 1rlh;
}

.summary-box > table.stats > tbody {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

.summary-box > table.stats > tbody > tr {
  display: flex;
  flex-direction: column-reverse;
}

.summary-box > table.stats > tbody > tr > td {
  display: block;
  padding: 0;
  font-size: 28px;
  line-height: 2rlh;
  font-weight: bold;
  color: hsl(210deg 100% 45%);
}

.summary-box > table.stats > tbody > tr > th {
  display: block;
  padding: 0;
  font-size: 14px;
  line-height: 1rlh;
  font-weight: normal;
  text-align: left;
  color: #666;
}

.summary-box > .top-repos,
.summary-box > .day-repos {
  display: grid;
  gap: 1rlh;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
}

.summary-box h4 {
  font-size: 14px;
  line-height: 1rlh;
  font-weight: normal;
}

.summary-box > .top-repos > li {
  display: flex;
  flex-flow: column-reverse;
}

/* sparkline */
.summary-box > .top-repos > li > svg {
  display: block;
  height: 1.5rlh;
  width: 100%;
}

.summary-box > .top-repos > li > h4 {
  display: flex;
  gap: 1ch;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rlh 0 0 0;
}

.summary-box > .top-repos > li > h4 > a {
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.summary-box > .top-repos .contribution-count {
  display: block;
  color: #666;
  font-size: 14px;
}

.summary-box > .day-repos > li > h4 {
  display: flex;
  margin: 0;
  align-items: start;
  gap: 1ch;
}

.summary-box > .day-repos > li > h4,
.summary-box > .day-repos > li > ul > li {
  /* GitHub icon is 1em high, so very close to 1em wide, with 0.25em margin */
  text-indent: -1.25em;
  padding-left: 1.25em;
}

.summary-box > .day-repos > li > h4 > a {
  flex: 1;
}

.summary-box > .day-repos .repo-badge {
  background: hsl(120deg 60% 90%);
  color: hsl(120deg 60% 30%);
  padding: 0 1ch;
  border-radius: 3px;
  font-size: 12px;
  font-weight: normal;
  line-height: 1rlh;
  text-indent: 0;
}

.summary-box > .day-repos > li > ul > li {
  font-size: 14px;
  color: #666;
}

.summary-box > .day-repos > li > ul > li a {
  color: hsl(210deg 100% 45%);
}

.message {
  margin: 1rlh 0;
  padding: 10px;
  background: hsl(30deg 100% 95%);
  color: hsl(30deg 100% 30%);
  border-left: 3px solid hsl(30deg 100% 50%);
  font-size: 14px;
  line-height: 1rlh;
  border-radius: 5px;
}

/* Collapse to 1 column */
@media (max-width: 650px) {
  .summary-box {
    padding-right: 0;
    border-right: none;
  }
}
