body {
  font-family: sans-serif;
}

table.contributions {
  display: block;
  tbody {
    display: flex;
  }
  tr {
    display: block;
    flex: 1;
    td {
      display: block;
      text-align: center;
      border: 1px solid #fff;
    }
  }
}

.contrib_none {
  background: hsl(130deg 40 100);
}

.contrib_first_quartile {
  background: hsl(130deg 40 75);
}

.contrib_second_quartile {
  background: hsl(130deg 40 50);
  color: #fff;
}

.contrib_third_quartile {
  background: hsl(130deg 40 25);
  color: #fff;
}

.contrib_fourth_quartile {
  background: hsl(130deg 40 0);
  color: #fff;
}
