body {
  font-family: sans-serif;
}

table.contributions {
  display: block;
  tbody {
    display: flex;
  }
  tr {
    display: block;
    flex: 1;
    td {
      display: block;
      text-align: center;
      border: 1px solid #fff;
    }
  }
}
